
@keyframes ldio-dho9pttthq {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-dho9pttthq div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #e15b64;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-dho9pttthq div {
  animation: ldio-dho9pttthq 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-dcsgde7kpu7 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-dho9pttthq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dho9pttthq div { box-sizing: content-box; }
